<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit-post</title>
    <link rel="stylesheet" href="/edit.css">
</head>

<body>

    <div class="container">
        <h1>Edit Your Post</h1>
        <h2>username :<%= post.username %>
        </h2>
        <form action="/posts/<%= post.id %>?_method=PATCH" method="POST">
            <textarea name="content"><%= post.content %></textarea>
            <br></br>
            <Button class="Submit">Submit</Button>
        </form>
    </div>

</body>

</html>